body{
    background-color: palevioletred;
}

#id1{
    color: blue;
    
}

.id2{
   color: rgb(0, 255, 47);
   font-style: italic;        
}

img{
    border: 2px black solid;
    width: 200px;
    height: 200px;
}